.about-button {
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.404);
  border: none;
  font-size: 15px;
  font-weight: bolder;
  padding: 5px 10px;
  border-radius: 6px;
  margin-top: 2px;
  cursor: pointer;
  }

.about-img {
    max-height: 200px;
    height: 100%;
    max-width: 200px;
    width: 100%;
    border-radius: 100px;
    margin-top: 30px;
    border: 1px solid white;
}

#about-h1 {
  font-size: 28px;
  padding-bottom: 0px;
  padding-top: 20px;
  color: black;
}

.skills {
  margin-top: -15px;
  text-align: left;
}

#skills-h1 {
    font-size: 20px;
    color:  black;
    padding-top: 10px;
    padding-bottom: 0px;
}

#countries-h1 {
  font-size: 20px;
    color:  black;
    padding-top: 10px;
    padding-bottom: 0px;
}

#click-anywhere {
  padding-top: 25px;
  font-style: italic;
  font-size: 12px;
  font-weight: bold;
  color: rgb(31, 28, 27);
  display: none;
}

#about-me {
    padding-bottom: 10px;
    padding-top: 0px;
    text-align: left;
    max-width: 550px;
    margin: 0 auto;
    padding: 5px;
    width: 100%;
    line-height: 1.5em;
}

#countries {
  padding-bottom: 10px;
  text-align: left;
  max-width: 550px;
  margin: 0 auto;
  padding: 5px;
  line-height: 1.5em;
  width: 100%;
}

#icon-female {
  margin: 20px;
}

#icon-tools {
  margin: 20px;
}

#icon-plane {
  margin: 20px;
  transform: rotate(-35deg);
}

#connect {
    color: rgb(44, 39, 36, 0.808);
    font-weight: bold;
    margin: 0 auto;
    font-style: italic;
}

.all-skills{
  list-style: upper-roman;
  display: flex;
  margin: 0 auto;
  padding-bottom: 10px;
  justify-content: center;
  max-width: 700px;
  width: 100%;
  line-height: 1.5em;
}

#skill-name {
  font-weight: bold;
}

#skill {
  font-size: 16px;
  max-width: 150px;
}

.about {
  background: white;
  justify-content: center;
  margin: 40px;
  border: 1px solid grey;
  box-shadow: 3px 6px rgba(128, 128, 128, 0.308);
  max-width: 800px;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .all-skills {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5%;
  }

  #about-me {
    max-width: 325px;
    text-align: left;
  }

  #countries {
    max-width: 325px;
    text-align: left;
  }
}

