/* #portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} */

/* #portfolio-wrapper {
    display: flex;
    flex-direction: row;
} */

.portfolio-button {
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.404);
    border: none;
    font-size: 15px;
    font-weight: bolder;
    padding: 5px 10px;
    border-radius: 6px;
    margin-top: 2px;
    cursor: pointer;
  } 

.row {
    padding: 0 4px;
    list-style: none;
}

#portfolio-h1 {
    padding-top: 45px;
    font-size: 40px;
}
  
#column img {
    margin-top: -12px;
    justify-content: center;
}

#app-info {
    margin: 15px;
}

#tech-tools {
    margin: 15px;
}

#app-description {
    margin: 0 auto;
    max-width: 600px;
    padding-top: 15px;
}

.portfolio-item {
    list-style: none;
    justify-content: center;
    border: 1px solid grey;
    margin: 40px;
    background: #f4f4f4;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
}

img.item-img {
    display: block;
    max-width: 600px;
    max-height: 600px;
    height: 100%;
    width: 100%;
    margin: auto;
    cursor: pointer;
}

img:hover {
    transform: scale (1.1);
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }